
/*VARIABLES GENERALES*/
:root {
    --clr-primario: rgba(64, 61, 245, 0.925);
    --clr-background-contrast: white;
    --clr-list-header: rgba(128, 128, 128, 0.452);
    --clr-tarea-placeholder: gray;
    --clr-standard-fontsize: 1.5rem;
}

/*----------ESTILOS GENERALES--------------*/
header {
    padding: 1vw 0 2vw 30vw;
}

html {
    min-height: 100%;
}

body {
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    font-weight: 300;
    font-size: var(--clr-standard-fontsize);
    font-family: "Work Sans", sans-serif;
}

.ocultar{
    display:none;
}

.titulo-sistema{
    color: var(--clr-background-contrast);
}

/*--------ESTILOS LISTADO DE LISTAS-------------*/

.todo-listados-container {
    color: var(--clr-background-contrast);
}

.todo-listados-container h2 {
    font-weight: bold;
    padding: 1vw 0 1vw 1vw;
}

.todo-listados-container form {
    display: flex;
}

.lista-activa {
    font-weight: bold;
}

#listado-list li {
    margin: 0.4vw 0 0.4vw 0;
}


/*--------ESTILOS TAREAS--------*/
.todo-tarea {
    background-color: var(--clr-background-contrast);
}

.todo-tarea-container {
    overflow: hidden;
}

.todo-tarea-container h2 {
    font-weight: bold;
}

.todo-tarea-container form {
    padding-bottom: 1em;
}

.eliminar-tareas .btn-borrar-lista,
.btn-borrar-tareas {
    font-size: 0.7em;
    font-weight: b;
    color: var(--clr-background-contrast);
}


.boton-lista,
.boton-tarea {
    border: none;
    background-color: inherit;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.boton-lista {
    color: var(--clr-background-contrast);
}

.boton-tarea {
    color: var(--clr-primario);
}

.tarea-label{
    margin-left: 0.2em;
}

.nueva-lista,
.nueva-tarea {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nueva-lista {
    color: var(--clr-background-contrast);
    border-bottom: solid var(--clr-background-contrast) 1px;
}

.nueva-tarea {
    color: var(--clr-tarea-placeholder);
    border-bottom: solid var(--clr-tarea-placeholder) 1px;
}

/*Estilos para los textos placeholder para nombre tarea y lista*/
.nueva-tarea::placeholder {
    color: var(--clr-tarea-placeholder);
    opacity: 0.7;
}

.nueva-lista::placeholder {
    color: var(--clr-background-contrast);
    opacity: 0.4;
}

/*Titulo del container de tareas*/
.todo-header {
    background-color: var(--clr-list-header);
    padding: 2.5vw 0 1vw 1.5vw;
}

.tareas div {
    padding: 0.4vw 0 0.5vw 0.5vw;
}

.crear-nueva-tarea {
    padding: 0.5vw 0 0.5vw 0.9vw;
}

.tareas-pendientes-count {
    font-size: 1rem;
    opacity: 0.5;
}

.eliminar-tareas {
    padding: 1vw;
    text-align: center;
}

.btn-borrar-lista,
.btn-borrar-tareas {
    font-size: 1rem;
    opacity: 0.7;
    background: none;
    border: none;
}

